---
import Layout from "../layouts/Layout.astro";

---



<Layout title="JTI Kelas Kosong">
    <main class="h-screen bg-orange flex flex-col  items-center text-center epilogue py-10">
        <p class="epilogue">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur aperiam natus nisi optio, non iste, perspiciatis corrupti delectus dolorum labore provident obcaecati exercitationem. Possimus, dolorum sunt repellat omnis animi labore velit nam, nesciunt aperiam eos quidem illo iusto impedit cumque sapiente numquam hic consequuntur quia nostrum veniam provident doloremque?
        </p>
    </main>
</Layout>