---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SelectCard from '../components/SelectCard.astro';

---

<Layout title="JTI Kelas Kosong">
	<main class="h-screen bg-orange flex flex-col  items-center text-center epilogue py-10"  >
		<h1  data-aos="fade-up"
		data-aos-delay="300"
      class="font-extrabold text-4xl">Kelas Kosong JTI</h1>
		<h2 data-aos="fade-up"
		data-aos-delay="350"
      class="text-2xl">Cari Kelas Kosong Mu !</h2>
		<SelectCard></SelectCard>

	</main>
</Layout>
