---
import Layout from '../../layouts/Layout.astro';
import SelectCard from '../../components/SelectCard.astro';
import Card from '../../components/Card.astro';
export function getStaticPaths() {
  return [
    {params: {day: 'senin'}},
    {params: {day: 'selasa'}},
    {params: {day: 'rabu'}},
  ];
}

const { day } = Astro.params;

// const dayData = [
//     ["LKJ1","LKJ2"],
//     ["RPL1","RPL2"],
// ];
const dayData = [
    [
      {
        room:"RT01",
        floor:"5",
        hour:"6-7"
      },
      
    ],
    [
      {
        room:"RT01",
        floor:"5",
        hour:"5-7"
      },
      {
        room:"RT07",
        floor:"5",
        hour:"5-7"
      },
      {
        room:"RT09",
        floor:"8",
        hour:"5-6"
      },
    ],
];

let showDays =[];


if(day=="senin"){
    showDays=dayData[0]
}
if(day=="selasa"){
  showDays=dayData[1]
}


---

<Layout title="JTI Kelas Kosong">

<main class="min-h-screen bg-orange flex flex-col  items-center text-center epilogue py-10">
	<h1  data-aos="fade-up"
		data-aos-delay="300"
      class="font-extrabold text-4xl">Kelas Kosong JTI</h1>
		<h2 data-aos="fade-up"
		data-aos-delay="350"
      class="text-2xl">Cari Kelas Kosong Mu !</h2>
	<SelectCard></SelectCard>
    <div class="w-full flex flex-col items-center">
        {showDays.map((el)=>(
            <Card room={el.room} floor={el.floor} hour={el.hour}></Card>
        ))}
    </div>
</main>

</Layout>